RDS_HOSTNAME=db
RDS_PORT=5432
RDS_DB_NAME=postgres
RDS_USERNAME=postgres
RDS_PASSWORD=postgres
PG_ADMIN_EMAIL=admin@admin.com
PG_ADMIN_PASSWORD=admin
PG_ADMIN_PORT=80
DATABASE_URL=postgresql://postgres:postgres@db:5432/postgres?sslmode=disable